#root {
  margin: 0 auto;
  text-align: center;
}

.App {
  text-align: left;
}

.DataSections {
  float: left;
  clear: none;
}

.AddFormula {
  text-align: left;
  float: left;
  clear: none;
}

.AddEntry {
  text-align: left;
  float: left;
  clear: none;
}

.RetrieveEntries {
  text-align: left;
  float: left;
  clear: none;
}

table, tbody, th, td {
  border: 1px solid white;
  border-collapse: separate;
}

th, td {
  padding: 8px
}

th {
  background-color: white;
  color: black;
}

button {
  font-size: 15px;
}

p {
  font-size: 25px;
}

#selectChartDates {
  font-size: 15px;
}

.App-header {
  background-color: #3b215c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}
